@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700 & display=swap');

@media (max-width: 480px) {
    /*  480px */
    header {
        height: 50vh;
    }

    .nav-menu {
        top: 80px;
    }

    .nav-menu li {
        margin: 30px 0;
    }
   
    .nav-menu {
        background: rgba(79, 0, 116, 0.85);
    }
}

/* 768px */
@media (min-width: 481px) and (max-width: 768px) {
    /* ancho entre 481px y 768px */
    header {
        height: 60vh;
    }

    .nav-menu {
        top: 70px;
    }

    .nav-menu li {
        margin: 40px 0;
    }
    
    .nav-menu {
        background: rgba(79, 0, 116, 0.75);
    }
}

/*  1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /*  ancho entre 769px y 1024px */
    header {
        height: 80vh;
    }

    .nav-menu {
        top: 60px;
    }

    .nav-menu li {
        margin: 20px 0;
    }
    
    .nav-menu {
        background: rgba(79, 0, 116, 0.65);
    }
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body{
    font-family: 'poppins', sans-serif;
}


                                        /*NAVEGACION Y HEADER */
/* Estilos para el header */
header {
    width: 100%;
    height: 70vh;
    background-image: url(images/bg-01.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}


.nav {
    height: 100px;
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 300px;
    height: auto;
    margin: 0;
    display: block;
}


.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(79, 0, 116, 0.95);
    text-align: center;
    transition: all 0.5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active,
.nav-menu li a:hover {
    color: rgb(242, 0, 255);
    transition: 0.3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

.container{
    max-width: none;
    margin: 30px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-header {
    margin-right: 0px;
}

.text-header h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;

}

.text-header p {
    color: #fff;
    font-size: 16px;
    font-weight: 600px;
    margin-top: 20px;

}

.btn-a {
    display: inline-block;
    margin: 35px 0px;
    padding: 10px 25px;
    border: 2px solid #be40e0;
    border-radius: 25px;
    color: #080808;
}

.btn-a:hover {
    background-color: #be40e0;
}

.img-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 0;
    /*
    margin-right: -1500px;
    margin-top: -150px;*/
}

.img-header img {
    
    width: 250px;
}
@media (max-width: 768px) {
    .img-header {
        display: none; 
    }
}

@media (min-width: 768px) {
    .logo {
        margin-left: 0;
    }

    header {
        height: 70vh;
    }
    nav{
        height: 100px;
        margin: 0 auto;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 14px;
    
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .banner-text {
        flex-direction: row;
        margin-top: 40px;
        text-align: left;
    }

    .text-header {
        margin-right: 0px;   
    }

    .text-header h1 {
        font-size: 55px;
        line-height: 60px;
    }

    .text-header p {
        margin-top: 20px;
    }

    .btn-a {
        margin-top: 35px;
    }

    .img-header {
        margin-right: 50px;
        margin-top: -50px;
        
    }

    .img-header img {
        width: 650px;
        
    }


}

                                            /*nosotros*/

.about {
    text-align: center;
    padding: 30px 0px;
}

.about h2 {
    font-size: 45px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.about p {
    font-size: 18px;
    font-weight: 400;
    margin: 35px;

}

.icons-about {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.icon-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px ;
    text-align: center;

}

.icon-about img {
    width: 120px;
    margin-bottom: 10px;
}

.icon-text{
    text-align: center;
    margin-left: 15px;

}

.icon-text p {
    margin: 0px;

}

.btn-b {
    display: inline-block;
    margin-top: 20px;
    background: linear-gradient(to bottom, rgb(162,0,255), rgb(230,0,235));
    border-radius: 25px;
    padding: 14px 25px;
    color: #fff;
}

.btn-b:hover {
    background: linear-gradient(to bottom, rgb(255,0,153), rgb(179,0,238));

}

@media (min-width: 768px) {
    .about {
        padding: 120px 0px;
    }

    .icons-about {
        align-items: center;
        max-width: 1250px;
        margin: 0 auto;
        /*flex-direction: row;
        justify-content: center;*/
    }
    .btn-b {
        margin-top: 50px;
    }
    .icon-text{
        text-align: center;
        margin-left: 0;
    }
}

                                                        /*servicios */

.services {
    background-color: #6621a2;
    padding: 30px 0px;
}

.services-container {
    display: flex;
    flex-direction: column;
}
.services-cards {
    display: flex;
    margin-bottom: 30px;
}
.card {
    background-color: #fff;
    width: 250px;
    border-radius: 15px;
    margin: 0px 15px;
    padding: 20px 35px;
}
.services-txt {
    margin-left: 0px;
    text-align: center;
}

.services-txt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;

}

.services-txt p {
    font-size: 25px;
    color: #fff;
    margin-right: 0px;
    text-align: center;

}

.btn-c {
    display: inline-block;
    margin-top:  35px;
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 15px;

}

.btn-c:hover {
    background-color: #fff;
    color: #6621a2;
}

@media (min-width: 768px){

    .services-container{
        flex-direction: row;
        justify-content: center;
    }

    .services{
        background-image: url(images/section.JPG);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding:  70px 0px;
    }

    .services-txt {
        text-align: left;
        margin-left: 75px;
    }
    .services-txt p {
        margin-right: 75px;
    }


}

                                                       /* estrategias*/

.portfolio {
    padding: 0px;
}

.container-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-portfolio h2 {
    font-size: 45px;
    margin-bottom: 20px;
}
.p-txt{
    text-align: center;
    margin: 0px 0px 30px 0px;

}
.content-portfolio {
    display: flex;
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.img-01 {
    margin-right: 0px;
    width: 0px;
}
.img-02 {
    margin-left: 0px;
    width: 0px;
}
.img-03 {
    margin-right: 0px;
    width: 0px;
}
.txt-portfolio {
    align-self: center;
}
.txt-portfolio h3 {
    font-size: 22px;
    margin-bottom: 20px;
}
.txt-portfolio p {
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .portfolio {
        padding: 50px 0px;
    }
    .p-txt {
        text-align: center;
        margin: 0px 200px 70px 200px;
    }
    .container-portfolio h2 {
        margin-bottom: 40px;
    }
    .content-portfolio {
        display: flex;
        text-align: left;
        margin: 0px 150px 150px 150px;
    }
    .img-01 {
        margin-right: 50px;
        width: 250px;
    }
    .img-02 {
        margin-left: 50px;
        width: 300px;
    }
    .img-03 {
        margin-right: 50px;
        width: 300px;
    }

    
}


                                                    /*footer*/


/* Estilos general del footer */
.footer {
    background-image: url(images/foot.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}

.footer-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-sec h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

.f-txt {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.container-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.links {
    display: flex;
}

.link {
    color: #fff;
    margin: 30px;
}

/* Estilo íconos de redes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons span {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: auto;
}


.footer p {
    margin-top: 20px;
    font-size: 14px;
}

/* Media query para ajustes en dispositivos más grandes */
@media (min-width: 768px) {
    .f-txt {
        margin: 0 200px 30px 200px;
    }

    .footer {
        padding: 100px 0;
    }
}

/* Estilos para el formulario en la sección de footer */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    background-color: #0077B5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background-color: #005a93;
}
